<!DOCTYPE html>
<html lang="en">
<head>
	<title>MyWidgets</title>
	<link rel="stylesheet" href="styles.css">
	<meta charset="UTF-8">

</head>

<body>

	<!-- Links to my widgets and my places page -->
	<div>
		<a href = "MyPlaces.html">My Places </a> 
		<br>
		<a href = "MyWidgets.html">My Widgets </a>
	</div>

	<br>

	<div>
		<h2> My Youtube Widget </h2>
		<iframe width="600" height="350" src="https://www.youtube.com/embed/videoseries?list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	</div>


	<div>
		<h2> My Twitter Widget </h2>
		
		<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">We<br>really<br>really<br>really<br>  really<br>    really<br>     really<br>   really<br> really<br>really<br>really<br>really<br>really<br>really<br>really<br>really<br>  really<br>    really<br>     really<br> really<br>need you to not commit any crimes while it’s -10 degrees out. srsly.</p>&mdash; Wyoming (MN) Police (@wyomingpd) <a href="https://twitter.com/wyomingpd/status/1088864010391441410?ref_src=twsrc%5Etfw">January 25, 2019</a></blockquote>
		<script async src="https://platform.twitter.com/widgets.js"></script>


	</div>

</body>
</html>