<!DOCTYPE html>
<html>
<head>
	<title>
		GGEZ
	</title>
	<style>
	#para {
		  border-radius: 50%;
		  -webkit-transition: -webkit-transform .8s ease-in-out;
		   		  transition:         transform .8s ease-in-out;
		}
	#para:hover {
		  -webkit-transform: rotate(360deg);
		          transform: rotate(360deg);
		}
	body {
		background-image:url("https://media1.tenor.com/images/1ac2e43a43a83d3f6c0c18771c8d00f9/tenor.gif?itemid=11536691");
	}

	h3 {
		color: #7fff00;
	}

	#para {
		color: #7fff00;
	}

	</style>
</head>
<body>
<h3> AYYYYYYEEEEEE.... The API IS ALIVEEEE.... Happy Coding :) </h3>
<br>
<!-- <div id="jonah_hill">
	<iframe src="https://giphy.com/embed/5GoVLqeAOo6PK" width="580" height="375" frameBorder="0" border-radius="60%" class="giphy-embed" allowFullScreen></iframe>
</div>
<br> -->

<p id="para">
	Hi!
	<br>
	If you are Eric Shook, then I apologize for making this. I had fun making it sooooo maybe kind of a win? If not, well hello there! This is just a page to ping to see if the flask app is alive. A simple Python script could return if this is running or not, but I thought this was a better use of my time. Anyways happy coding and good luck with Hour of CI or whatever project you're working on. 
	<br>
	Cheers,
	Coleman Shepard
</p>


</body>
</html>